
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*DEFINE AS CONFIGURAÇÕES DE TODOS OS ELEMENTOS DA PÁGINA*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;

}

/*CRIANDO VARIÁVEIS*/
:root{
    --cor01: #afa2a2;   
    --cor02: #0f1de7;
    --cor03: #1b0f0f;
    --branca: #ffffff;
}

/* FORMATANDO A TAG main PELO id geral*/
#geral{
    margin: 20px;
}


/* FORMATANDO O CABEÇALHO*/
#cabecalho{
   background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 60px;
}

/*CONFIGURANDO MENU NA HORIZONTAL*/

#menu ul{
display: flex;
gap: 30px;
list-style: none;



}

#menu ul img{
width: 25px;
height: 25px;
}

